on boot
    #for jiiov_fp.
    chown system system /dev/jiiov_fp
    chmod 0666 /dev/jiiov_fp

    #for goodix_fp.
    chown system system /dev/goodix_fp

    #for egis fp
    chown system system /dev/esfp0
    chmod 0660 /sys/bus/platform/devices/egis_input/navigation_enable
    chmod 0660 /sys/bus/platform/devices/egis_input/navigation_event
    chown system  system /sys/bus/platform/devices/egis_input/navigation_enable
    chown system  system /sys/bus/platform/devices/egis_input/navigation_event

    #for silead fp
    chown system system /dev/silead_fp
    chmod 0666 /dev/silead_fp

on post-fs-data
    #FingerprintRelatedDirectories 
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    mkdir /data/vendor/silead 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/silead 0770 system system
    mkdir /data/vendor/optical_fingerprint   0770 system system
    mkdir /data/vendor/FactoryTestReport   0770 system system
    mkdir /mnt/vendor/persist/fingerprint/jiiov 0770 system system

    #DirectoryPerms
    chown system  system /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chown system  system /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    chown system  system /sys/bus/platform/devices/fpc_interrupt/regulator_enable
    chown system system /sys/bus/platform/devices/soc:fpc_fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc_fpc1020/irq_enable
    chown system system /sys/bus/platform/devices/soc:fpc_fpc1020/regulator_enable
    chown system system /sys/bus/platform/devices/soc:fpc_fpc1020/wakelock_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/regulator_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakelock_enable
    chown system system /sys/kernel/oppo_display/hbm
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/regulator_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chmod 0200 /sys/bus/platform/devices/fpc_interrupt/wakelock_enable
    chmod 0600 /sys/bus/platform/devices/fpc_interrupt/irq
    chmod 0660 /sys/bus/platform/devices/fpc_interrupt/irq_unexpected
    chmod 0600 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0600 /sys/bus/platform/devices/soc:fpc1020/irq_enable
    chmod 0600 /sys/bus/platform/devices/soc:fpc1020/regulator_enable
    chmod 0600 /sys/bus/platform/devices/soc:fpc1020/wakelock_enable

service fps_hal.realme_sm7125 /system/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.realme_sm7125
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

service oppo_fingerprints_sh /vendor/bin/sh /odm/bin/init.oppo.fingerprints.sh
    class main
    user root
    oneshot
