# Shell script
type vendor_autochmod_exec, exec_type, vendor_file_type, file_type;
type vendor_qti_init_shell_exec, exec_type, vendor_file_type, file_type;

# SysFS
type sysfs_battery_supply, sysfs_type, fs_type;
