on init
    # Override OPLUS fstab
    mount none /system/etc/oplus.fstab /odm/etc/oplus.fstab bind  

    # Override wifi oppo script
    mount none /system/bin/init.oppo.wifi.sh /odm/bin/init.oppo.wifi.sh bind
    mount none /system/bin/vendor.autochmod.sh /odm/bin/vendor.autochmod.sh bind

on late-fs

on property:init.svc.face_hal=restarting
    stop face_hal

on post-fs-data
    # Disable all overlays present at vendor
    mount none /vendor/lost+found /vendor/overlay bind
    
    # Force camera HAL to expose all cameras
    setprop oppo.camera.packname com.oppo.camera
