on post-fs-data
    # Override audio configurations
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_volumes.xml /vendor/etc/audio_policy_volumes.xml bind
    mount none /system/etc/default_volume_tables.xml /vendor/etc/default_volume_tables.xml bind

    # Disable all overlays present at vendor
    mount none /vendor/lost+found /vendor/overlay bind
