on init
    # Bind mount /odm to /vendor/odm for allow using vendor_overlay
    mkdir -p /vendor/odm
    mount none /odm /vendor/odm bind

on late-fs

on property:init.svc.face_hal=restarting
    stop face_hal

on post-fs-data    
    # Force camera HAL to expose all cameras
    setprop oppo.camera.packname com.oppo.camera
