service fingerprint-inscreen-1-0.RMX2170 /system/bin/hw/lineage.biometrics.fingerprint.inscreen@1.0-service.RMX2170
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
